body {
    font-family: Arial, sans-serif;
        /* background-color: #f0f0f0; */
    
        /* background-image: url('weather1.webp');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh; */
        /* Set the height to fill the viewport */
        margin: 0;
        /* Remove default margin */
        padding: 0;
}

@import "compass/css3";

.preloader {
    position: absolute;
    height: 110px;
    width: 110px;
    left: 37%;
    top: 94%;
}

svg {
    width: 110px;
    height: 110px;
}

path {
    stroke: #1F2544;
    stroke-width: 0.25;
    fill: #241E20;
}

#cloud {
    position: relative;
    z-index: 2;
}

#cloud path {
    fill: #FFD0EC;
}

#sun {
    margin-left: -10px;
    margin-top: 6px;
    opacity: 0;
    width: 60px;
    height: 60px;
    position: absolute;
    left: 45px;
    top: 15px;
    z-index: 1;
    animation-name: rotate;
    animation-duration: 16000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#sun path {
    stroke-width: 0.18;
    fill: #FFA732;
}


@keyframes rotate {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

/* Rain */
.rain {
    position: absolute;
    width: 70px;
    height: 70px;
    margin-top: -32px;
    margin-left: 19px;
}

.drop {
    opacity: 1;
    background: #1F2544;
    display: block;
    float: left;
    width: 3px;
    height: 10px;
    margin-left: 4px;
    border-radius: 0px 0px 6px 6px;

    animation-name: drop;
    animation-duration: 350ms;
    animation-iteration-count: infinite;
}

.drop:nth-child(1) {
    animation-delay: -130ms;
}

.drop:nth-child(2) {
    animation-delay: -240ms;
}

.drop:nth-child(3) {
    animation-delay: -390ms;
}

.drop:nth-child(4) {
    animation-delay: -525ms;
}

.drop:nth-child(5) {
    animation-delay: -640ms;
}

.drop:nth-child(6) {
    animation-delay: -790ms;
}

.drop:nth-child(7) {
    animation-delay: -900ms;
}

.drop:nth-child(8) {
    animation-delay: -1050ms;
}

.drop:nth-child(9) {
    animation-delay: -1130ms;
}

.drop:nth-child(10) {
    animation-delay: -1300ms;
}


@keyframes drop {
    50% {
        height: 45px;
        opacity: 0;
    }

    51% {
        opacity: 0;
    }

    100% {
        height: 1px;
        opacity: 0;
    }
}

.loader-text {
    font-family: Helvetica, 'Helvetica Neue', sans-serif;
    letter-spacing: 1px;
    text-align: center;
    margin-left: -43px;
    font-weight: bold;
    margin-top: 20px;
    font-size: 11px;
    color: #1F2544;
    width: 200px;
}

.container {
    max-width: max-content;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: rgba(71, 79, 122, 0.7);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 10px;
    color: #fff;
    position: relative;
}

h1 {
    margin-bottom: 0.2rem;
    font-size: 3rem;
}

.temperature {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
}

.tempSwitch {
    font-size: 1.5rem;
    color: #FFD0EC;
    cursor: pointer;
}

.temp-scale-active {
    color: #FFD0EC !important;
}

input[type="text"] {
    width: 90%;
    padding: 10px;
    margin: 10px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
} */

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #FFD0EC;
    background: #1F2544;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-weight: bold;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000;
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #1F2544;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.weather-info {
    margin-top: 20px;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: flex-start;
}

.extra-property{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    padding: 0.5rem;
    background-color: #1F2544;
    color: #FFD0EC;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: ease-in-out;
}

.weather-info__weather-description {
    /* background-color: #1F2544; */
    padding: 1rem;
    min-width: 300px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}

.weather-info__weather-description-wrapper {
    /* background-image: url('photo-1515798630163-c9ff318b62e3.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    filter: blur(2px);
    -webkit-filter: blur(2px);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    top: 0%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.weather-info__weather-description-text {
    position: absolute;
    top: 5%;
    left: 10%;
    z-index: 2;
    width: 100%;
    height: 100%;
    font-weight: bold !important;
    font-size: 1.5rem !important;
}

.weather-info__weather-description-text > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.weather-description__current-date{
    font-weight: 300;
}

.weather-info__weather-metadata {
    display: flex;
    flex-direction: column;
    background-color: #1F2544;
    border-radius: 10px;
    padding: 2rem;
    gap: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.weather-info__weather-attributes {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    padding: 1rem;
}

.weather-attributes__single {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

.min-temp-right {
    border-right: 1.5px solid #FFD0EC;
    padding-right: 5px;
}

.min-temp-left {
    padding-left: 5px;
}

.weather-attribute__single-header {
    font-weight: bold;
}

.weather-info__weather-forecast {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.weather-forecast__card {
    background-color: #FFD0EC;
    border-radius: 10px;
    height: 100%;
    padding: 0.5rem;
    color: #1F2544;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.weather-forecast__card p {
    padding: 0.3rem;
}

p {
    margin: 0;
}

.hidden {
    display: none;
}

.forecast-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.forecast-container > div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.forecast-container>div:nth-child(2) div {
    padding: 0.2rem;
    background-color: #1F2544;
    color: #FFD0EC;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: ease-in-out;
}